.container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 4rem;
  background-color: #ed145b;
}
.text{
  font-size: 1.5rem;
}
.logo{
  font-size: 2em;
}
.icon{
  display: none;
}
@media (min-width:780px){
  .text{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
  }

  .icon{
    display: block;
    width: 15rem;
    height: 15rem;
  }
}
